<div class="d-flex flex-row justify-content-around">
  <div class="d-flex flex-column justify-content-between">
    <div class="padding-1rem">
      <mat-card class="general-info-card">
        <mat-card-title> General Info </mat-card-title>
        <mat-card-subtitle> subtitle </mat-card-subtitle>
        <mat-card-content>
          <p>Name: {{ user.userName }}</p>
          <p>Balance: {{ user.balance }}</p>
          <p>Email: {{ user.email }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-success">Edit</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div
      class="box-shadow w-50"
    >
      <app-purchase-list
        [purchases$]="purchases$"
      ></app-purchase-list>
    </div>
  </div>

  <div class="padding-1rem">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Register your purchase </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <app-create-purchase
            (purchaseCreated)="onPurchaseCreationStarted($event)"
            [categories$]="categories$"
          ></app-create-purchase>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Add category </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-content>
            <app-create-category
            (categoryCreationStarted)="onCategoryCreationStarted($event)"
          ></app-create-category>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
